
html {
    scroll-behavior: smooth;
}

/* Header */
.header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 5%;

    box-sizing: border-box;
}

/* Logo */
.header h2 {
    color: rgb(30, 40, 120);
    font-size: 32px;
    margin: 0;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
    float: right;
    flex-wrap: wrap;
}

/* Links */
.navbar a {
    font-size: 18px;
    color: rgb(30, 40, 120);

    text-decoration: none;
    font-weight: 500;

    transition: 0.3s;
}

.navbar a:hover {
    color: #0ef;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {

    .header {
        flex-direction: column;
        gap: 15px;

        padding: 15px;
    }

    .header h2 {
        font-size: 26px;
        text-align: center;
    }

    .navbar {
        justify-content: center;
        gap: 15px;
    }

    .navbar a {
        font-size: 16px;
    }
}