*{
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    
    padding: auto;
}

/* Main Section */
.skills-section{
    margin: auto;
    min-height:100vh;
      background-image: url(../../assets/5.jpg);
      background-attachment: fixed;
    display:flex;
    justify-content:center;
}

/* Content Positioned on White Area */
.skill-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
  gap:20px;

  flex-wrap:wrap;
}

/* Heading */
.skill-container h2{
    margin-top: -50px;
    font-size:40px;
    color:white;
    text-align: center;
    
    
}

/* Skills Grid */
.skills-content{
    width:650px;
    display:grid;
    background-color: white;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding: 12%;


}

/* Cards */
.skill-card{
    height:100px;
    width: 140px;
    background:white;

    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    box-shadow:0 4px 10px rgba(0,0,0,0.2);

    transition:0.3s;
}

.skill-card:hover{

    transform:translateY(-5px);
}

/* Icon */
.skill-icon{

    font-size:30px;

    margin-bottom:10px;
}

/* Text */
.skill-card span{
    font-size:14px;
    font-weight:600;
}

/* Mobile */
@media(max-width:768px){
 
   
    .skills-section{
        width:100%;
        text-align: center;
    }

    .skills-content{
        grid-template-columns:repeat(2,1fr);
        width:320px;
    }

    .skill-container h2{
        font-size:26px;
        margin: 0;
    }
    .skill-card{
        width:100px;
        height: 80px;
    }
}